body {
  font-family:"Calibri"
}

a {
  color: #0366d6;
}

code {
  color: #E01A76;
}

.btn-primary {
  color: #fff;
  background-color: #1b6ec2;
  border-color: #1861ac;
}

.panel {
  background-color: #eee;
  border: 1px solid #bbb;
  border-radius: 4px;
  margin-bottom: 15px;

}

.panel__header {
  padding-left: 10px;
  padding-top: 10px;
  border-bottom: 1px solid #bbb;
}

.panel__content {
  padding: 15px;
}

header {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
  padding-left: 15px;
}