body {
  background-color: #f0f1ff;
  font-family:"Calibri";
}

header {
  box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
  padding-left: 15px;
  background-color: #1b6ec2;
  color: #fff
}

input {
  padding: 4px 8px;
  font-size: 1rem;
  border-radius: 4px;
  border: 1px solid #ddd;
}

label {
  font-weight: bold;
  width: 100%;
  text-align: right;
}

table {
  border-collapse: collapse;
}

table th {
  font-size: 20px;
  font-weight: bolder;
}

table tr td {
  vertical-align: middle;
}

.button {
  color: #fff;
  border-radius: 6rem;
  padding: 5px 20px;
  height: 35px;
  border: none;
  min-width: 100px;
  transition: background-color .25s ease-in;
}

.button__increase {
  background-color: #ac511c;
}

.button__increase:disabled {
  background-color: #be947c;
}

.button__decrease {
  background-color: #23b43b;
}
.button__decrease:disabled {
  background-color: #619c6b;
}

.button__submit {
  background-color: #1b6ec2;
}

.button__submit:disabled {
  background-color: #7d98b3;
}

.table-input {
  width: 100px;
}

.currency-amount__display {
  width: 50px;
}

.error-message {
  color: red;
}

.flex {
  display: flex;
  flex: 1;
  justify-content: space-between;
}

.flex-list div {
  width: 50%;
  min-height: 600px;
}

.flex-list div:first-of-type {
  border-right: 1px solid #101010;
}

.flex-list h4 {
  border-bottom: 1px solid #101010;
  padding-left: 5px;
}

.form-submit {
  float: right;
}

.full-width {
  width: 100%;
}

.input-icon {
  position: relative;
}

.input-icon > i {
  position: absolute;
  display: block;
  transform: translate(0, -50%);
  top: 50%;
  pointer-events: none;
  width: 25px;
  text-align: center;
  font-style: normal;
}

.input-icon > input {
  padding-left: 25px;
  padding-right: 0;
}

.input-icon-right > i {
  right: 0;
}

.input-icon-right > input {
  padding-left: 0;
  padding-right: 25px;
  text-align: right;
}

.panel {
  background-color: #fff;
  border: none;
  border-radius: 4px;
  border: 1px solid #ddd;
  margin-bottom: 15px;
  padding: 0 0 0.5rem;
  min-width: 400px;
}

.panel__header {
  padding-left: 15px;
  padding-top: 15px;
  border-bottom: 1px solid #bbb;
  font-weight: bold;
  color: #1b6ec2;
}

.panel__content {
  padding: 15px;
}

.row-divider {
  border-bottom: 1px solid #000;
}

.table-column {
  width: 120px;
  text-align: center;
}

.total-rows {
  border-top: 2px solid #101010;
  border-bottom: 2px solid #101010;
}